.MuiInputBase-input {
  border-bottom: 2px solid #333333;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #333333 !important;
}

.backdrop {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}