.time {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: max-content;
  gap: 20px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-family: 'Roboto Mono', monospace;
}

.decorrido {
  letter-spacing: 2px;
  font-weight: 600;
  color: #666666;
}