.cabecalho {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: min-content;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.balance {
  display: flex;
  align-items: center; 
  gap: 10px
}

.balance img {
  height: 30px;
  width: 30px;
 
}

.balance .imgreal {
  height: 20px;
  width: 20px;
}